body,h1,h2,h3,h4,h5,h6,p,ul,li,ol {
    padding: 0;
    margin: 0;
}

.header-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    background: transparent;
    padding: 21px 40px 0 24px;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    transition: all ease 1s;
}

body {
    font-family: 'Oswald',sans-serif;
    font-weight: 400;
    color: white;
    line-height: 1.5;
    height: 2000px;
}

#header {
    position: absolute;
    width: 100%;
}

.header-1.fixedbar {
    position: fixed !important;
    background: deepskyblue;
    padding: 10px 40px 0 24px;
}

.logo {
    float: left;
    width: 100%;
    margin-top: 6px;
    text-align: left;
    padding: 0 0 25px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.mainmenu {
    position: relative;

}

.mainmenu ul {
    margin: 0;
    padding: 0;
}

.mainmenu ul li {
    list-style: none;
    display: inline-block;
    line-height: 0.8;
    padding: 25px 20px 18px;
    position: relative;
}

.mainmenu ul li a {
    display: block;
    color: white;
    font-size: 17x;
    line-height: 0.8;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    padding: 0;
    letter-spacing: 1px;
}

.mainmenu ul li a:after {
    position: absolute;
    width: 0;
    height: 1px;
    content: '';
    background: white;
    left: 0;
    right: 0;
    bottom: -5px;
    transition: all 0.4s ease-out;
}

.mainmenu ul li a:hover {
    color: white;
}
.mainmenu ul li a:hover:after {
    width: 100%;
}

.navigator {
    position: relative;
    padding: 21px 0 12px;
}

.navigator a {
    display: inline-block;
    color: white;
    line-height: 0.8;
    font-size: 25px;
    margin: 0;
}

.navigator a.search {
    margin-top: 16px;
}

/* SlideShow */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    background: url(../img/bg-main.jpg) 0 0 no-repeat;
    background-size: cover;
    height: 105vh;
    overflow: hidden;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0,0,0,0.9);
}

.myslides h2 {
    font-size: 165px;
    text-transform: uppercase;
    letter-spacing: 33px;
    font-weight: 800;
    line-height: 1;
    position: absolute;
    top: 185px;
    left: 100px;
    z-index: 10;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}

.myslides h2 span {
    display: block;
    text-align: right;
    font-size: 22px;
    letter-spacing: 20px;
    text-transform: capitalize;
    padding-right: 20px;
}

.myslides .p_img {
    display: block;
    width: auto;
    height: 500px;
    position: relative;
    z-index: 20;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: slideInRight;
}

.myslides {
    padding-top: 190px;
}

.myslides .p_detail {
    width: 350px;
    position: absolute;
    top: 180px;
    right: 100px;
    z-index: 30;
}

/* In the video having the error: font-style instead wrote font-size double */
.myslides .p_detail h3 {
    font-size: 50px;
    font-weight: 600;
    font-style: italic;
    margin-top: 175px;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}

.myslides .p_detail h3 i {
    font-size: 18px;
    color: white;
}

.myslides .p_detail h3 i.rate {
    color: #ffcb00;
}

.myslides .p_detail h4 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}

.myslides .p_detail p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
    letter-spacing: 1x;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: slideInRight;
}

.myslides .p_detail ul {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: slideInRight;
}

.myslides .p_detail ul i {
    color: #ffcb00;
}

.myslides .p_detail select {
    display: inline-block;
    border: 1px solid #ffcb00;
    background: #ffcb00;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}

.myslides .p_detail a {
    font-size: 14px;
    color: white;
    padding: 6px 20px;
    display: inline-block;
    border: 2px solid white;
    margin-right: 15px;
    transition: 0.5s backround-color;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}

.myslides .p_detail a:hover {
    background-color: #a10a05;
}

.myslides .p_detail span {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: slideInRight;
}

.fadeInLeft {
    animation-name: fadeInLeft;
}

.fadeInUp {
    animation-name: fadeInUp;
}

.slideInRight {
    animation-name: slideInRight;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        visibility: visible;
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Service */
.service_section {
    color: #333;
    padding: 150px;
}

.dark {
    color: #00bcd4;
}

.sec_title {
    font-size: 50px;
    line-height: 60px;
    flex-wrap: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 25px;
    padding: 14px 0;
    color: #333;
}

.color_aaa {
    color: darkgray;
}

.row.custom_column .col-lg-3.col-sm-4.col-md-3 {
    width: 20% !important;
    flex: 0 0 20%;
}

.box {
    display: inline-block;
    position: relative;
    width: 100%;
    background: transparent;
    perspective: 1000;
    transform-style: preserve-3d;
    transition: all ease 400ms;
}

.box .flipper {
    transform-origin: 100% 213.5px;
    margin-top: 60px;
}

.box .front i,
.box .back i {
    font-size: 64px;
    line-height: 1;
    color: #aaaaaa;
    display: block;
    margin-bottom: 17px;
    transition: all ease 400ms;
}

.box .front h3,
.box .back h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #aaaaaa;
    margin: 0;
    transition: all ease 400ms;
}

.flipper {
    transform: perspective(1000px);
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    background: transparent;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    border: 2px solid rgba(27, 27, 27, 1);
    padding: 48px 45px 45px;
    width: 100%;
}

.back {
    background: #00bcd4;
    transform: rotateY(-180deg);
    position: relative;
    border: 2px solid #00bcd4;
    padding: 48px 45px 45px;
    width: 100%;
}

.box:hover .front {
    transform: rotateY(180deg);
}

.box:hover .back {
    transform: rotateY(0deg);
}

.box .back h3,
.box .back i {
    color: white;
}

a.box.text-center {
    text-decoration: none;
}







